body {
    background-color: black;
}

* {
    margin: 0 auto;
}

.bigBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 1400px;
}

/* .imageBox {
    position: absolute;
    background-image: url(ooyeah.jpg);
    height: 400px;
    width: 400px;
} */

.buttonBox {
    position: absolute;
}

.bottomimage {
    background-image: url(backgroundooyeah.jpg);
    height: 1100px;
}

#machoMan {
    color: white;
    background-color: blueviolet;
    font-size: 40px;
}